<table>
  <thead>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>City, State</th>
        <th>Magnitude</th>
        <th>Distance from Los Angeles</th>
    </tr>
  </thead>

  <tbody>
    <% @earthquakes.each do |earthquake| %>
      <tr>
        <td><%= Time.parse(earthquake.time).strftime("%I:%M") %></td>
        <td><%= Date.parse(earthquake.time).strftime("%b %d, %Y") %></td>
        <td><%= earthquake.latitude %></td>
        <td><%= earthquake.mag %></td>
        <td><%= earthquake.distance_from_los_angeles(earthquake.latitude, earthquake.longitude.abs).round(2) %></td>
      </tr>
    <% end %>
    </tbody>
</table>
